<h4>Products found: <%= @products.size %></h4>

<% if @products.empty? %>
    <p>Sorry, no products matching were found.</p>
<% else %>
    <ul>
        <% @products.each do |s| %>
            <li><%= link_to s.title, s %></li>
        <% end %>
    </ul>
<% end %>