
<div class="col s12 m2 featured_card">
    <h5 class="header">Check out our new products!</h5>
    <div class="card horizontal hoverable welcomecard">
        <div class="card-image">
            <img class="featured_image" style='height: 90%; width: 90%;' src="<%= @random_product.image %>" alt="featured product" >
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div><%= link_to @random_product.title, @random_product %></div>
                <div><%= number_to_currency @random_product.price %></div>
                <div><%= @random_product.description %></div>
            </div>
        </div>
    </div>
</div>