<p class="remove-bottom-margin" style="font-size: 12pt;"><%= product.title %></p>
<span><%= product.manufacturer %></span>
    
<% if show_details_link %>
    <%= link_to 'View Details', product %>
<% end %>
<br>
