<h1>Products Index page</h1>

<% @products.each do |x| %>
    <div>
        <p>
            <b>Name: </b><%= link_to x.title, x %>
        </p>
        <p>
            <b>Description: </b><%= x.description %>
        </p>
        <p>
            <b>Price: </b><%= x.price %>
        </p>
    </div>

<% end %>
