<%= paginate @products  %>

<p>
    You've visited this site <%= pluralize @visit_count, 'time' %>
</p>

<h4>Products in shopping cart: <%= @shopping_cart %></h4>

<%= render partial: 'product',
           collection: @products,
           locals: { show_details_link: true} %>

