<h1>Products Show page</h1>

<div>
    <p>
        <b>Name: </b><%= @product.title %>
    </p>

    <p>
        <b>Description: </b><%= @product.description %>
    </p>

    <p>
        <b>Price: </b><%= @product.price %>
    </p>
</div>