/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

// @import "materialize/components/color-variables";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

// changes dropdown menu text colour
.dropdown-content li > a, .dropdown-content li > span {
    color: #0a7066c9 !important;
}

body {
    margin-bottom: 50px;
}

footer {
    position:fixed;
    bottom:0px;
    width:100%;
    text-align: center;
 }

.shaner-margins {
    margin-top: 10px;
    margin-bottom: 100px;
}

.shaner-margins-top {
    margin-top: 40px;
}

.shaner-container {
    width: 85%;
    margin: auto;
}

.dropdown-content {
    width: 150px;
}

.dropdown-checkout {
    width: auto;
    height: auto;
}

.remove-bottom-margin {
    margin-bottom: 0;
}

.welcomecard {
    // width: 600px;
}

.search_bar {
    // height: 50px;
    width: 200px;
    margin: auto;
    text-decoration-style: none;
    text-align: center;
}

.lineheight {
    line-height: 55px;
}

.cartdropdown {
    width: 300px;
    height: 250px;
}

.formsearch, .searchform {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 36px;
    text-indent: 15px;
    text-decoration: none;
}

.formsearch {
    display: inline-flex;
}
.category-select {
    width: 125px;
    background-color: rgb(151, 225, 208);
    border-radius: 10px;
    height: 36px;
    font-size: 12pt;
}

div .input-field {
    margin-top: 5px;
}

.searchicon {
    position: relative;
    bottom: 12px;
    right: 2px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.753) inset !important;
}

ul li .checkoutprice {
    padding-top: 0;
    padding-bottom: 0;
    text-indent: 10px;
    font-size: 10pt;
}

ul li .checkouttitle {
    font-size: 13pt;
    padding-bottom: 0;
}

.clear_cart_button {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgba(139, 44, 44, 0.726);
    font-size: 12pt;
}

.checkout_button {
    width: 100%;
    height: 35px;
}

.field {
    width: 300px;
    margin: 15px;
    display: inline-block;
}


select, .provinceform {
    display: inline;
}

.show_image {
    height: 300px; /* Your height here */
    // overflow: hidden;
}

// flash messages

.flash_div {
    position: absolute;
    right: 80px;
    top: 55px;
    text-align: right;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 12pt;
}
.success, .notice {
    width: max-content;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.info {
    width: max-content;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}
.warning, .alert {
    width: max-content;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}
.danger {
    width: max-content;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}