<h4><%= @category.title %></h4>
<span><%= (@category.products.count) %> results</span>

<ul>
    <% @category.products.each do |x| %>
        <li><%= link_to x.title, x %></li>
    <% end %>
</ul>