<h5><%= @category.title %></h5>

<ul>
    <li>Product 1</li>
    <li>Product 2</li>
    <li>Product 3</li>
    <li>Product 4</li>
    <li>Product 5</li>
    <li>Product 6</li>
    <li>Product 7</li>
</ul>

<!-- THIS SHOULD QUERY A LIST OF PRODUCTS THAT PERTAIN TO THE SPECIFIC CATEGORY AND DISPLAY >