<footer class="page-footer teal lighten-2">
<p>You've visited this site <%= pluralize @visit_count, 'time' %></p>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright - ShopForStuffs - Shane Fondeur
        </div>
    </div>
</footer>