<footer class="page-footer teal lighten-2">
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright - ShopForStuffs - Shane Fondeur
        </div>
    </div>
</footer>