<ul id="dropdown" class="dropdown-content">
    <li><a href="/categories">Browse all</a></li>
    <li class="divider"></li>
    <li><%= link_to 'Electronics', '#' %><!-- <span class="large material-icons">devices</span>--></li>
    <li><a href="#!">Video Games</a></li>
    <li class="divider"></li>
    <li><a href="#!">Appliances</a></li>
    <li><a href="#!">Furniture</a></li>
</ul>
<nav class="teal lighten-1">
    <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Shop For Stuffs</a>
            <ul class="right hide-on-med-and-down">
              <li><a class="waves-effect waves-light" href="/">Home</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" data-belowOrigin="true" data-target="dropdown" >Categories<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="waves-effect waves-light" href="/about">About</a></li>
              <li><a class="waves-effect waves-light" href="/contact">Contact</a></li>
              
            </ul>
        </div>
    </div>
</nav>