<ul id="dropdown" class="dropdown-content">
    <li><a href="/product">Products</a></li>
    <li class="divider"></li>
    <li><a href="/categories">Category</a></li>
    <li class="divider"></li>
</ul>
<nav class="teal lighten-2">
    <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Shop For Stuffs</a>
            <ul class="right hide-on-med-and-down">
              <li><a class="waves-effect waves-light" href="/">Home</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" data-belowOrigin="true" data-target="dropdown">Browse by..<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="waves-effect waves-light" href="/about">About</a></li>
              <li><a class="waves-effect waves-light" href="/contact">Contact</a></li>
              
            </ul>
        </div>
    </div>
</nav>